{% extends 'base.html.twig' %}
{% block title %}Réservation étape 2{% endblock %}
{% block body %}
<h2>Étape 2 sur 3</h2>
{{ form_start(form, { 'method': 'POST', 'attr':{ 'novalidate': 'novalidate', 'data-abide': null, 'class': 'text-center'}}) }}
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i>{{'step1.formError'|trans}}</p>
  </div>
{{ form_widget(form) }}
  <div class="row">
    <fieldset class="large-6 columns">
      <button class="button" type="submit" value="Submit">Passer à l'étape suivante</button>
    </fieldset>
    <fieldset class="large-6 columns">
      <button class="button" type="reset" value="Reset">Reset</button>
    </fieldset>
  </div>
{{ form_end(form) }}
{{app.session.get('Bill').getTicketType()}}
{% endblock %}