{% extends 'base.html.twig' %}
{% block title %}Réservation étape 3{% endblock %}
{% block body %}
<h2>Étape 3 sur 3</h2>
<table>
  <thead>
    <tr>
      <th>{{'step3.firstname'|trans}}</th>
      <th>{{'step3.lastname'|trans}}</th>
      <th>{{'step3.dateOfBirth'|trans}}</th>
      <th>{{'step3.reducedPrice'|trans}}</th>
      <th>{{'step3.price'|trans}}</th>
      <th>{{'step3.delete'|trans}}</th>
    </tr>
  </thead>
  <tbody>
  {% for key,ticket in Bill.tickets %}
    <tr>
      <td>{{ ticket.firstname }}</td>
      <td>{{ ticket.lastname }}</td>
      <td>{{ ticket.dateOfBirth | date('m/d/Y') }}</td>
      <td>{{ ticket.price }}</td>
      <td>{{ ticket.reducedPrice }}</td>
      <td>
      {%set onsubmit = "return confirm(\"#{'step3.deleteConfirmation'|trans}\");"%}
        {{ form_start(formsArray[key], {'action': path('bill_deleteticket', {'id': key}), 'method': 'DELETE', 'attr':{'onsubmit':onsubmit}}) }}      
        {{ form_widget(formsArray[key]) }}
        {{ form_end(formsArray[key]) }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% for key,form in formsArray %}
  {% endfor %}
  {{ form_start(form, {'action': path('command_confirmation'), 'method': 'POST'}) }}  
    {{ form_widget(form) }}    
  <div class="row">
    <fieldset class="large-6 small-12 columns">
      <a href="{{path('step2')}}" class="button expanded">Retour à l'étape précédente</a>
    </fieldset>
    <fieldset class="large-6 small-12 columns">
      <button class="button expanded" type="submit" value="Submit">Confirmer la commande</button>
    </fieldset>
  </div>
  {{ form_end(form) }}

{% endblock %}