{% extends 'base.html.twig' %}
{% block title %}{{ 'thankyou.title'|trans }}{% endblock %}
        {% block stylesheets %}
            {% stylesheets 'css/app.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style>@media print {
                    .nonPrintable{
                        display: none;
                    }
                }
            </style>
        {% endblock %}
{% block body %}
    <div class="row">
        <h2>{{ 'thankyou.title'|trans }}</h2>
    </div>
    <div class="row">
        <div class="large-12 columns text-center">
            {{ 'thankyou.billStripeId'|trans }} <strong>{{ Bill.orderId }}</strong>
        </div>
        <div class="large-12 columns text-center">
            {{ 'step3.orderDateOfBooking'|trans }} <strong>{{ Bill.getDateOfBookingObject | date('d/m/Y')}}</strong>
        </div>
    </div></br>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>{{'step3.firstname'|trans}}</th>
                <th>{{'step3.lastname'|trans}}</th>
                <th>{{'step3.dateOfBirth'|trans}}</th>
                <th>{{'step3.reducedPrice'|trans}}</th>
                <th>{{'step3.price'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for key,ticket in Bill.tickets %}
                <tr>
                    <td>{{ ticket.firstname }}</td>
                    <td>{{ ticket.lastname }}</td>
                    <td>{{ ticket.dateOfBirth}}</td>
                    <td>{{ ticket.priceType|trans }}</td>
                    <td>{{ ticket.price }}.00 €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <h2 class="column menu-centered">{{ 'step3.totalPrice'|trans }}</h2>
    </div>
    <div class="row">
        <h2 class="column menu-centered">{{ Bill.totalPrice }},00 €</h2>
    </div>
    <div class="row">
        <div class="large-4 columns text-center">
            {% image 'images/Pages/printer.svg' %}
            <a class="nonPrintable" onclick="window.print()"><img width="60px" src="{{ asset_url }}" alt="Print" /></a>
            {% endimage %}
        </div>
        <div class="large-4 columns text-center">
            <a href="{{ path('step1') }}" class="button expanded">{{ 'thankyou.newBill'|trans }}</a>
       </div>
        {#
    <div class="large-4 columns text-center">
         {% image 'images/Pages/pdf.svg' %}
             <a class="nonPrintable" href="{{ path('billPDF') }}"><img width="60px" src="{{ asset_url }}" alt="Download to PDF" /></a>
         {% endimage %}
    </div>
    #}
    </div>
{% endblock %}